# System files
Icon
.DS_Store

# Editors
*.sublime-workspace
/.vscode/
/.idea/

# Lock files
.lock

# Kirby live data
/content/*
!/content/index.html

/site/accounts/*
!/site/accounts/index.html

# Kirby generated/runtime data
/media/*
!/media/index.html

/site/cache/*
!/site/cache/index.html

/site/sessions/*
!/site/sessions/index.html

/site/logs/*

# Kirby license
/site/config/.license
/site/config/config.starterkit.test.php