.project {
    width: 100%;
}

.project-title {
  font-family: var(--font-family-highlight);
  font-size: 3.6rem;
}

.project-metadata {
    padding-bottom: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.project-metadata-row1 {
    display: flex;
    justify-content: space-between;
}

.project-metadata-row2 {
    display: flex;
    justify-content: space-between;
}

.project-desc {
    padding-top: var(--padding);
}

/* one image = fullscreen */
.project-image--one img {
  height: auto;
  width: 100%;
  /* height: 100vh; */
  object-fit: cover;
  display: block;
}

.project-images {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.project-image--two {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  justify-content: space-between; 
  width: 100%;
  margin: 0;              
}

.project-image--two img {
  display: flex;
  width: 100%;
  height: auto;            /* keep natural height */
  object-fit: contain;     /* show full image without cropping */
  max-width: calc(50% - 0.2rem); /*  VERY IMPORTANT: ADJUST GAP HERE */
}

@media (min-width: 60rem) {
  .project-image--two {
  }

  /* keep one-image behavior as you already have */
  .project-image--one img {
    
  }
}